:root {
 --darkgrey: #1E1E1E;
 --white: #fdfdfd;
 --BORDER_GAP: 6px;
}

body {
  background-color: var(--darkgrey);

}

/* Homepage */

.title {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: var(--white);
  font-weight: bold;
  font-size: 3rem;
}

.content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  flex: auto 0 0 ;
  width: 300px;
  background-color: rgba(10, 10, 10, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.input-container {
  display: flex;
  margin: 10px;
}

.input-code {
  height: 45px;
  width: 250px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

.input-name {
  height: 45px;
  width: 250px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.text {
  color: white;
  font-size: 15px;
}

.buttons {
  display: block;
}

.button {
  background-color: var(--white);
  margin: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}

.button:hover {
  color:var(--white);
  background-color: rgb(3, 112, 189);
  transition: all 0.4s;
}
/* End of Homepage */


/* Start of Roompage */

.music {
  display: flex;
  align-items: center;
  justify-content: center ;
  margin: auto;
}

.music-wrapper {
  display: grid;
  height: 100%;
  margin: auto;
  grid-gap: var(--BORDER_GAP);
  gap: var(--BORDER_GAP);
  grid-template-areas: 
    "users music-player queue"
    ". chat ."
  ;
}

.border {
  display: flex auto 0 0;
  margin: auto;
}

.logo {
  display: flex;
  text-decoration: none;
  grid-area: logo;
}

.logo-text {
  color: var(--white);
  margin: 30px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.users {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
  width: 20rem;
  grid-area: users;
  overflow-y: auto;
}

.user-box {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  margin-bottom: 3px;
  width: 100%;
}

.user-name {
  margin-left: 10px;
  color: white;
  font-size: 15px;
}

.music-listener {
  display: flex;
  height: 100%;
  width: 40rem;
  background-color: rgba(96, 90, 90, 0.5);
  grid-area: music-player;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px black;
}

.music-listener-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(5px 5px 10px #000);
}

.music-queue-chat {
  height: 35rem;
  width: 20rem;
  background-color: rgba(10, 10, 10, 0.5);
  grid-area: queue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.queue {
  margin: 10px;
  height: 100%;
  width: 95%;
}

.song-name {
  color: white;
}

/* Start of WebPlayer */
.container {
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: white;
 position: relative;
 top: -20px;
}


.now-playing__cover {
  width: 300px;
  margin-bottom: 10px;
  height: fit-content;
  position: relative;
}

.now-playing__side {
  width: 45%;
}

.song-info {
  width: 100%;
}

.disc-under {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  background-color: rgba(15, 14, 14, 0.9);
  filter: drop-shadow(5px 5px 10px #000);
}

.disc {
  background-color: #000;
  height: 300px;
  display: flex;
  justify-content: center;
  border: black;
  align-items: center;
  width: 300px;
  animation: spin 3s infinite linear forwards;
  border-radius: 100%;
  background: conic-gradient(transparent 0deg 10deg,
  rgba(255, 255, 255, .1) 40deg 45deg,
  rgba(0,0,0,0.2) 75deg 190deg,
  rgba(255, 255, 255, .1) 220deg 225deg,
  rgba(0,0,0,0.2) 255deg 360deg),
  repeating-radial-gradient(circle, rgb(12, 12, 12), rgb(0, 0, 0), 1px, transparent 1px, transparent 5px);
}

.disc-image{
  background-color: transparent;
  height: 130px;
  width: 130px;
}

.disc img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paused {
  animation-play-state: paused;
}

.song-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.now-playing__name {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
}

.now-playing__artist {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
}

.music-listener-interface {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn-spotify {
  background-color:transparent;
  border: transparent;
  display:inline-block;
  color: rgba(255, 255, 255, 0.803);
  font-family:Arial;
  font-size:17px;
  padding:10px;
  text-decoration:none;
  opacity: 0.2;
  cursor:not-allowed;
}

.btn-spotify-active {
  opacity: 1;
  cursor:pointer;
}

.btn-spotify-active:hover {
  transition: ease-in-out 0.3s;
  color: white;
  transform: scale(1.1);
}


/* End of WebPlayer */

/* Search component */
.img-box {
  margin: 4px;
  height: 50px;
  width: 50px;
  border: #000;
}

.search-bar {
  width: 85%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 2px 20px;
}

.search-box {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  margin-bottom: 3px;
  width: 100%;
  cursor: pointer;
}

.search-box:hover {
  background-color: rgb(30, 29, 29);
  transition: ease-in-out 0.2s;
}

.search-input-container {
  width: 95%;
  height: 30px;
  flex: 1;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 15px;
  color: #cac7ff;
}

.search-results-container {
  margin-top: 10px;
}
/* End of Search Component */


/* Queue component */
.queue-container {
  height: 500px;
  margin-top: 10px;
  overflow-y: scroll;
}

.queue-box {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  margin-bottom: 3px;
  width: 100%;
}
/* End of Queue Component */